<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Description</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/design.css">
    <style>
        .top-bar {
            position: fixed;
            top:0;
            z-index: 1;
        }
        h2 {
            margin:10px 0 0 0;
        }

        .mt-1 {
            margin-top: 0.25em;
        }
        .mt-5 {
            margin-top:5em;
        }

        .my-0 {
            margin-top:0px;
            margin-bottom: 0px;
        }

        .mb-0 {
            margin-bottom: 0px !important;
        }

        b {
            /* color:#333; */
            font-weight: 600;
        }
        .head-menu {
            justify-content: space-evenly;
        }
        .container {
            margin:5px auto;
            max-width: 960px;
            display: flex;
            flex-direction: column;
        }

        .media {
            padding:1em 0;
        }
        .media img {
            height: 150px;
            width: 100%;
            border-radius: 1em;
            box-shadow: 1px 1px 0.2em #525;
            object-fit: cover;
        }

        .bg-brand {
            background-color: #000e69;
            color:white;
        }
        .btn {
            border-radius: 4px;
            font-size: 0.9em;
        }

        @media(min-width:50em) {
            .container {
                font-size: 0.9em;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1em;
                overflow-x: hidden;
            }
            .media {
                padding: 0;
            }
            .media img {
                height: 100px;
                width:auto;
            }
        }
    </style>
</head>
<body>
    <%- include('../partial/header') %>
    <div class="text-center mt-5">
        <h2 class="text-center"><%= event.event_name %></h2>
        <small>Posted By <%= event.added_by %>  on <%= event.start_date %></small>
    </div>
    
    <div class="container">
        <div class="text content">
            <h4 class="mb-0">Event Details</h4>
            <p class="d-flex">
                Event Location <b> <%= event.street_number %> <%= event.street_name %> <%= event.suburb %> <%= event.city  %> <%=event.state  %> <%=event.country %></b>
            </p>

            <p class="d-flex">Start Date  <b> <%= event.start_date %></b> at  <%= event.start_time %></p>
            <p class="d-flex">End Date  <b> <%= event.start_date %></b> at  <%= event.end_time %></p>

            <h4 class="mb-0">Event Description</h4>
            <p class="my-0">
                <%= event.event_description %>
            </p>

            <div class="mt-1">
                <% if ( user.username == event.added_by) {%>
                    <a href="/event/update/<%= event.event_name %>/<%= event.description_id  %>/" class="btn bg-brand mt-2">Update</a>
                <%} %>
            </div>
        </div>
        <div class="media">
            <!-- images carousel -->
            <h4 class="my-1">Event Photos</h4>
            <div class="event-photo">
                <% for ( let image of event.media) {%>
                    <% if (image.type == "image") {%>
                        <img src="../../.<%= image.media %>" alt="<%= event.event_name %>">
                    <%} %>
                <%} %>
            </div>

            <h4 class="my-1">Event Videos</h4>
           <div class="event-video">
                <% for ( let video of event.media) {%>
                    <% if (video.type == "video") {%>
                        <video width='auto' height='100' controls>
                            <source src="../../.<%= video.media %>" type='video/mp4'>
                            Your browser does not support the video tag.
                        </video>
                    <%} %>
                <%} %>
           </div>
            <!-- video element -->
        </div>
    </div>

    <!-- other users contribution -->
    <%  for (let event of contribution ) {%>
        <div class="container">
            <div class="text-content">
                <p><%= event.added_by %> says  
                </p>

                <p class="d-flex">Start Date  <b> <%= event.start_date %></b> at  <%= event.start_time %></p>
                <p class="d-flex">End Date  <b> <%= event.start_date %></b> at  <%= event.end_time %></p>

                <h4 class="mb-0">Event Description</h4>
                <p class="my-0">
                    <%= event.event_description %>
                </p>

                <div class="mt-1">
                    <% if ( user.username == event.added_by) {%>
                        <a href="/event/update/<%= event.event_name %>/<%= event.description_id  %>/" class="btn bg-brand mt-2">Update</a>
                    <%} %>
                </div>
                

            </div>

            <div class="media">
                <!-- images carousel -->
                <h4 class="my-1">Event Photos</h4>
                <div class="event-photo">
                    <% for ( let image of event.media) {%>
                        <% if (image.type == "image") {%>
                            <img src="../../.<%= image.media %>" alt="<%= event.event_name %>">
                        <%} %>
                    <%} %>
                </div>

                <h4 class="my-0">Event Videos</h4>
                <div class="event-video">
                    <% for ( let video of event.media) {%>
                        <% if (video.type == "video") {%>
                            <video width='auto' height='100' controls>
                                <source src="../../.<%= video.media %>" type='video/mp4'>
                                Your browser does not support the video tag.
                            </video>
                        <%} %>
                    <%} %>
                </div>

                <!-- video element -->
            </div>
        </div>
    <%} %>
</body>
</html>