<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/static/css/design.css">
</head>
<body>
    <%- include('../partial/header') %>
    <div class="container">
        <h1>Create your account</h1>

        <%- include ('../partial/messages') %>

        <form action="" method="POST">
            <input type="text" name="username" id="username" placeholder="Username" required value="<%= username %>">
            <br>
            <input type="email" name="email" id="email" placeholder="Email" value="<%= email %>" required>
            <br>
            <input type="email" name="email2" id="email2" placeholder="Confirm email" value="<%= email2 %>" required>
            <br>
            <input type="text" name="country" id="country" placeholder="Country" value="<%= country %>" required>
            <br>
            <input type="password" name="password" id="password" placeholder="Password" value="<%= password %>" required>
            <br>
            <input type="password" name="password2" id="password2" placeholder="Confirm Password" value="<%= password2 %>" required>
            <br>

            <div class="form-group d-flex">
                <button type="submit" name="register" id="register" class="">Create Account</button>
                <a href="/login" class="link">Already have an account ?</a>
            </div>
            
        </form>
    <div>
</body>
</html>