<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Detail</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/design.css">
    <style>
        .main {
            max-width: 1080px;
            margin: 0 auto;
            padding:0.5em 1em;
        }

        .main h2 {
            margin: 0;
        }

        .header {
            margin: 1.5em 0;
        }

        .description {
            margin: 0.5em 0;
        }

        .btn-remove {
            background-color: rgba(71, 233, 79, 0.945);
            color:white !important;
        }
    </style>
</head>
<body>
    <%- include('../partial/header') %>
    <div class="main">
        <div class="header">
            <h2><%= report.account_name %></h2>
            <small class="">
                Reported By <%= report.reported_by %> on <%= new Date(report.date).toDateString()%>
            </small>
        </div>

        <div class="description">
            <%= report.reason %>
        </div>

        <div class="action">
            <td>
                <button data-id="<%= report.report_id %>" class="link btn btn-remove">
                    Remove From Reports
                </button>
            </td>
        </div>
    </div>

    <script>
        let removButtons = document.querySelectorAll(".btn-remove");
        removButtons.forEach(btn => {
            btn.addEventListener("click", function(e) {
                let report_id = btn.getAttribute("data-id");

                deleteFromReports(report_id);
            });
        });


        function deleteFromReports(report_id) {
            let url = "/reported-account/remove/"+report_id+"/";

            $.ajax({
                url:url,
                type:'POST',
                success:function(response) {
                    if(response.message.includes("success")) {
                        window.location.assign("/reported-accounts/");
                    }
                },
                error:function(err) {
                    console.error(err);
                }
            });
        }
    </script>
</body>
</html>