<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reported Accouns</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/design.css">
   <!-- CSS only -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
    <style>
        .main {
            max-width: 1080px;
            margin: 0 auto;
        }

        .table {
            margin-top: 1em;
            border-collapse: collapse;
        }
        tr th {
            text-align: left;
            border: 1px solid #ddd;
            border-left: none;
            border-right: none  ;
            padding: 0.4em 0.2em;
        }

        tr td{
            border-bottom:1px solid #ddd;
            padding: 0.4em 0.2em;
        }
    </style>
</head>
<body>
    <%- include('../partial/header') %>
    <div class="main">
        <!-- create a table -->
        <h2>Reported Accounts</h2>
        <table class="table">
            <thead>
                <th>Username</th>
                <th>Reported By</th>
                <th>Reason</th>
                <th>Reported on</th>
                <th></th>
            </thead>
            <tbody>
                <% for (let report of users) {%>
                    <tr>
                        <td>
                            <a href="/user_profile/<%= report.account_name %>/" class="link ">
                                <%= report.account_name %>
                            </a>
                        </td>

                        <td>
                            <a href="/user_profile/<%= report.reported_by %>/" class="link">
                                <%= report.reported_by %>
                            </a>
                        </td>
                        <td><%= report.reason %> <%= report.report_id %></td>
                        <td><%= new Date(report.date).toDateString() %></td>
                        <td>
                            <button data-id="<%= report.report_id %>" class="link btn btn-warning btn-remove">Remove</button>
                        </td>
                    </tr>
                <%} %>
            </tbody>
        </table>
    </div>

    <script>
        let removButtons = document.querySelectorAll(".btn-remove");

        removButtons.forEach(btn => {
            btn.addEventListener("click", function(e) {
                let report_id = btn.getAttribute("data-id");

                deleteFromReports(report_id);
            });
        });


        function deleteFromReports(report_id) {
            let url = "/reported-account/remove/"+report_id+"/";

            $.ajax({
                url:url,
                type:'POST',
                success:function(response) {
                    if(response.message.includes("success")) {
                        window.location.reload();
                    }
                },
                error:function(err) {
                    console.error(err);
                }
            });
        }
    </script>
</body>
</html>