<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Map</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/design.css">
    <style>
        .top-bar {
            position: fixed;
            top:0;
            z-index: 1;
        }

        .container {
            margin:5em auto;
            max-width: 728px;
            padding: 0.5em 0.1em;
            box-shadow: none;
            /* display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
            overflow-x: hidden; */
        }
        .profile-header {
            display: flex;
            flex-direction: column;
        }

        .profile-header {
            border-bottom: 1px solid #ddd;
            padding: 1em 1.5em;
        }

        .profile-header .image-section {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .account-info {
            margin-top: 1em;
        }

        .image-section img {
            height: 100px;
            width: 100px;
            object-fit: cover;
        }

        .img-circle {
            border-radius: 50%;
        }

        .section-username {
            align-items: flex-end;
        }

        .account-stats {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr) );
            margin:0.5em 0;
        }

        .account-stats p {
            margin: 0;
        }

        .event-tab {
            display: flex;
            justify-content: center;
            margin-top: -1px;
        }
        .event-tab a {
            text-transform: uppercase;
            color:#333;
            min-width: 100px;
        }

        .event-tab a.active {
            border-top: 1px solid #333;
        }

        .events {
            display:grid;
            grid-gap: 2px;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr) ) ;
            background-color: #fff;
            margin: 1em 0;
        }

        figure {
            margin: 0;
            cursor: pointer;
        }
        
        figure img {
            height: 150px;
            width:100%;
            object-fit: cover;
            border-radius: 4px;
        }

        @media (min-width: 50em) {
            .profile-header {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid: 1em;
            }   

            .account-stats {
                display: flex;
            }
            .account-stats p {
                margin: 0 0.5em;;
            }

            .events {
                display:grid;
                grid-gap: 2px;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
                background-color: #fff;
                margin: 1em 0;
            }
            figure img {
                width:240px; 
                height: 200px;
                object-fit: cover;
            }
        }
        
    </style>
</head>
<body>
    <%- include('../partial/header') %>
    <div class="container">
        <div class="profile-header">
            <div class="image-section">
                <!-- <i class="fa fa-user fa-2x"></i> -->
                <img src="/uploads/images/cclearance_view.PNG" class="img-circle" alt="<%= userprofile.username %>">
            </div>

            <div class="account-info">
                <div class="d-flex section-username">
                    <h3 class="my-0 mr-1"><%= userprofile.username %></h3>
                    <% if (user.username != userprofile.username) {%>
                        <button class="bg-brand ml-1">Follow</button>
                        <button class="bg-brand ml-1"><i class="fa fa-lock mr-1"></i>Message</button>
                    <%} %>
                </div>

                <div class="d-flex account-stats">
                    <div class="d-flex"><span class="mr-1"><%= events.length %></span> Events</div>
                    <p class="d-flex"><span class="mr-1"><%= contributions.length %></span> Contributions</p>
                    <p class="d-flex">
                        <span class="mr-1"> 
                            <% if (userprofile.account_type == 'pro') {%>
                                <i class="fa fa-lock"></i>
                            <%} %>  5
                        </span>
                        Followers 
                    </p>
                    <p class="d-flex"><span class="mr-1">15</span> Following</p>
                </div>

                <div class="my-1">
                    <b>Email</b>
                    <p> <%= userprofile.email %> </p>

                    <div class="my-1">
                        <% if (user.is_admin) {%>
                            <% if (userprofile.is_locked == 0) {%>
                                <button class="bg-danger ml-1" id="lock-account">Lock Account</button>
                            <%} else {%> 
                                <button class="bg-brand ml-1" id="unllock-account">Unlock Account</button>
                            <%}%>
                        <%}%>
                        
                        <% if (!userprofile.is_admin) {%>
                            <button class="bg-brand ml-1">Report Account</button>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>

        <div class="event-tab">
            <a href="" class="link active" id="event"><i class="fa fa-calendar mr-1"></i>Events</a>
            <a href="" class="link" id="contribution"><i class="fa fa-users mr-1"></i>Contribution</a>
        </div>

        <div class="events" id="events">
            <%  for (let event of events ) {%>
                <figure data-href="/event/<%= event.event_name %>/<%= event.event_id %>/">
                    <img src="../.<%= event.media.media %>" alt="Trulli" style="">
                    <figcaption> <%= event.event_name %> </figcaption>
                </figure>
            <% } %>
        </div>

        <div class="events d-none" id="contributions">
            <%  for (let contribution of contributions ) {%>
                <figure data-href="/event/<%= contribution.event_name %>/<%= contribution.event_id %>/">
                    <img src="../.<%= contribution.media.media %>" alt="Trulli" style="">
                    <figcaption> <%= contribution.event_name %> </figcaption>
                </figure>
            <% } %>
        </div>
    </div>

    <script>
        let tabItems = document.querySelectorAll(".event-tab a");
        tabItems.forEach(tabItem => {
            
            $(tabItem).on("click", function(e) {
                e.preventDefault();

                tabItems.forEach(tb => tb.classList.remove("active"));
                
                if(tabItem.id == "contribution") {
                    tabItem.classList.add("active");
                    $("#contributions").removeClass("d-none");
                    $("#events").addClass("d-none")
                } else {
                    tabItem.classList.add("active");
                    $("#contributions").addClass("d-none");
                    $("#events").removeClass("d-none")
                }
            });
        });

        let eventFigures = document.querySelectorAll("figure");
        eventFigures.forEach(figure => {
            $(figure).on("click", function(e) {
                let location = $(figure).attr("data-href");

                window.location.assign(location);
            });
        });

        $("#lock-account").on("click", function(e) {
            // lock the account
            $.ajax({
                url:'',
                type:POST,
                success:function(response) {
                    console.log(response);

                    if(response.message == "success") {
                        // reload the page
                        window.location.reload();
                    }
                },
                error:function(err) {
                    console.error(err.message);
                }
            })
        });

        $("#unlock-account").on("click", function(e) {
            // unlock the account
            $.ajax({
                url:'',
                type:POST,
                success:function(response) {
                    console.log(response);

                    if(response.statu == "success") {
                        // reload the page
                        window.location.reload();
                    }
                },
                error:function(err) {
                    console.error(err.message);
                }
            })
        });
    </script>
</body>
</html>